* {
    box-sizing: border-box;
}

body {
    font-family: normal 16px Helvetica, Arial, sans-serif;
    background-color: lightgrey;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

/*Contact Info CSS*/

.contactinfo {
    padding: 25px;
    border: 1px solid red;
}

/*Billing Info CSS*/

.billinginfo {
    padding: 25px;
}




