* {
    box-sizing: border-box;
}

body {
    font-family: normal 16px Helvetica, Arial, sans-serif;
    background-color: lightgrey;
}

h2 {
    font-size: 20px;
    padding-bottom: 15px;
}

.informationForm {
    width: 75%;
    align-content: center;
    margin: 0 auto;
    background-color: darkgray;
}

/*Contact Info CSS*/

.contactInfo {
    margin-top: 10px;
    padding: 25px;
}

.contactInfo, p {
    padding-top: 5px;
}

.contactInfo, h2 {
    padding-top: 10px;
}

/*Billing Info CSS*/

.billingInfo {
    margin-top: 10px;
    padding: 25px;
}

.submitButton {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}



